### Tarea 1.1  
Elaborada por: Lyha Espinosa García, Ana Cristina Vázquez Vargas.  
Expedientes: if721861, if

Use the Csv files that contains 2000 records of the sales of similar products in the (each columns represents a year).  

- A. Develop a function in python where you can evaluate a project using IRR and NPV
- B. The inputs is the flows by year (csv file), the output is a data frame containing NPV and IRR
- C. Add lines to the code to answer the 4 question of the activity 
1. What the probability that the IRR is over the Risk free rate?
2. What the probability that the IRR is over the 35%?
3. What the probability that the project value is over $\$2M$?
4. What’s the probability that the IRR is between 10% and 20%?

In [137]:
import pandas as pd
import numpy as np

In [138]:
datos = pd.read_csv("Oil10.csv", header=0)

In [139]:
datos

    Year 1    Year 2    Year 3    Year 4    Year 5
0  203726.0  279969.0  465303.0  200445.0   96319.0
1  263845.0  272439.0    2192.0  199901.0       0.0
2   27726.0  334861.0   82265.0  199954.0   64958.0
3  293801.0  210117.0  275087.0  199934.0       0.0
4  297319.0  242569.0  464097.0  200598.0  141285.0
5   36012.0  296235.0  484943.0  199842.0       0.0
6   78138.0  308996.0  491647.0  199218.0  127187.0
7   61767.0  269747.0   23989.0  199771.0       0.0
8  346503.0  172903.0   41218.0  200827.0   80270.0
9  149681.0  205417.0  441224.0  199658.0       0.0

In [140]:
rf = .03
precio = 5
costo = 0.8
Costo_fijo = 40000
Inversion = 1800000

In [141]:
finicial=pd.DataFrame(columns=["Year 0"])

for i in range(len(datos)):
    finicial.loc[i,"Year 0"]=-Inversion

finicial

      Year 0
0 -1800000.0
1 -1800000.0
2 -1800000.0
3 -1800000.0
4 -1800000.0
5 -1800000.0
6 -1800000.0
7 -1800000.0
8 -1800000.0
9 -1800000.0

In [142]:
data = pd.DataFrame(datos)

In [143]:
for i in range(len(data)):
    for j in range(len(data.columns)):
        data.iloc[i,j]=(data.iloc[i,j])*(precio-costo)-Costo_fijo
data

     Year 1     Year 2     Year 3    Year 4    Year 5
0   815649.2  1135869.8  1914272.6  801869.0  364539.8
1  1068149.0  1104243.8   -30793.6  799584.2  -40000.0
2    76449.2  1366416.2   305513.0  799806.8  232823.6
3  1193964.2   842491.4  1115365.4  799722.8  -40000.0
4  1208739.8   978789.8  1909207.4  802511.6  553397.0
5   111250.4  1204187.0  1996760.6  799336.4  -40000.0
6   288179.6  1257783.2  2024917.4  796715.6  494185.4
7   219421.4  1092937.4    60753.8  799038.2  -40000.0
8  1415312.6   686192.6   133115.6  803473.4  297134.0
9   588660.2   822751.4  1813140.8  798563.6  -40000.0

In [144]:
flujos = finicial.join(data)
flujos

      Year 0    Year 1     Year 2     Year 3    Year 4    Year 5
0 -1800000.0   815649.2  1135869.8  1914272.6  801869.0  364539.8
1 -1800000.0  1068149.0  1104243.8   -30793.6  799584.2  -40000.0
2 -1800000.0    76449.2  1366416.2   305513.0  799806.8  232823.6
3 -1800000.0  1193964.2   842491.4  1115365.4  799722.8  -40000.0
4 -1800000.0  1208739.8   978789.8  1909207.4  802511.6  553397.0
5 -1800000.0   111250.4  1204187.0  1996760.6  799336.4  -40000.0
6 -1800000.0   288179.6  1257783.2  2024917.4  796715.6  494185.4
7 -1800000.0   219421.4  1092937.4    60753.8  799038.2  -40000.0
8 -1800000.0  1415312.6   686192.6   133115.6  803473.4  297134.0
9 -1800000.0   588660.2   822751.4  1813140.8  798563.6  -40000.0

In [157]:
NPV= pd.DataFrame(columns=["NPV"])
NPV

Empty DataFrame
Columns: [NPV]
Index: []

In [160]:
for I in range(len(flujos)):
    rate, cashflows = 0.03,flujos.iloc[i,0:].to_list()
    a = np.npv(rate, cashflows).round(5)
    NPV.loc[i,"NPV"]= a

In [161]:
NPV

           NPV
9  1.88133e+06

In [147]:
rate, cashflows = 0.03,flujos.iloc[0,0:].to_list()
np.npv(rate, cashflows).round(5)

2841294.71195