## Tarea 1.1  
#### Elaborada por: Lyha Espinosa García, Ana Cristina Vázquez Vargas.   
Expedientes: if721861, if721215

Use the Csv files that contains 2000 records of the sales of similar products in the (each columns represents a year).  

- A. Develop a function in python where you can evaluate a project using IRR and NPV
- B. The inputs is the flows by year (csv file), the output is a data frame containing NPV and IRR
- C. Add lines to the code to answer the 4 question of the activity 
1. What the probability that the IRR is over the Risk free rate?
2. What the probability that the IRR is over the 35%?
3. What the probability that the project value is over $\$2M$?
4. What’s the probability that the IRR is between 10% and 20%?

In [5]:
import pandas as pd
import numpy as np

In [6]:
def frame_inicial(datos,rf,precio,costo,costo_fijo,inversion):
    
    #Genera un data frame con la inversión inicial en negativo
    finicial=pd.DataFrame(columns=["Year 0"])
    for i in range(len(datos)):
        finicial.loc[i,"Year 0"]=-inversion
    
    #Genera un data frame con los flujos de efectivo
    data = pd.DataFrame(datos)
    for i in range(len(data)):
        for j in range(len(data.columns)):
            data.iloc[i,j]=(data.iloc[i,j])*(precio-costo)-costo_fijo
            
    #Union de los dataframes anteriores
    flujos = finicial.join(data)
    
    return flujos

In [7]:
def net_present_value(flujos,rf):
    NPV= pd.DataFrame(columns=["NPV"])
    for i in range(len(flujos)):
        rate, cashflows = rf,flujos.iloc[i,0:].to_list()
        NPV.loc[i,"NPV"]= np.npv(rate, cashflows).round(5)
    return NPV

In [8]:
def internal_interest_rate(flujos):
    IRR= pd.DataFrame(columns=["IRR %"])
    for i in range(len(flujos)):
        cash = flujos.iloc[i,0:].to_list()
        IRR.loc[i,"IRR %"]= np.irr(cash)*100
        
    return IRR

In [9]:
def resultados(npv,irr):
    return npv.join(irr)

In [10]:
datos = pd.read_csv("Oil10.csv", header=0)

In [11]:
rf = .03
precio = 5
costo = 0.8
costo_fijo = 40000
inversion = 1800000

In [12]:
flujos=frame_inicial(datos,rf,precio,costo,costo_fijo,inversion)
npv = net_present_value(flujos,rf)
irr = internal_interest_rate(flujos)
tabla = resultados(npv,irr)

In [13]:
tabla

           NPV    IRR %
0  2.84129e+06  50.8144
1       925629   27.226
2       753242  16.6964
3  1.85007e+06   43.526
4  3.23372e+06  59.1007
5  1.94609e+06  34.6173
6  2.65261e+06  42.4621
7       174258  6.77414
8   1.3129e+06  34.4725
9  1.88133e+06  36.7315

In [14]:
dosk_records= pd.read_csv("Oil2000.csv", header=0)

In [15]:
flujos_dos=frame_inicial(dosk_records,rf,precio,costo,costo_fijo,inversion)
npv_dos = net_present_value(flujos_dos,rf)
irr_dos = internal_interest_rate(flujos_dos)
tabla_dos = resultados(npv_dos,irr_dos)

In [16]:
tabla_dos

              NPV    IRR %
0     2.84129e+06  50.8144
1          925629   27.226
2          753242  16.6964
3     1.85007e+06   43.526
4     3.23372e+06  59.1007
5     1.94609e+06  34.6173
6     2.65261e+06  42.4621
7          174258  6.77414
8      1.3129e+06  34.4725
9     1.88133e+06  36.7315
10     1.7016e+06  32.6195
11    1.84467e+06  39.9731
12    2.71772e+06  46.2323
13    2.21289e+06   41.086
14         417025  9.93724
15    2.71009e+06  54.0516
16    1.18602e+06  25.9836
17    2.65202e+06  51.4104
18    3.41172e+06  63.9957
19    2.50412e+06  35.9771
20    1.94386e+06  39.2641
21    1.40845e+06  27.2456
22    1.44225e+06  44.5527
23    1.73638e+06  41.6967
24         858631   24.837
25    1.20597e+06  24.3467
26         661680  14.1525
27    1.54055e+06  30.7724
28         566652  16.8166
29         750024  17.7666
...           ...      ...
1970       992671  17.4392
1971  1.25702e+06  30.8828
1972  1.72759e+06  34.3867
1973  3.22073e+06  65.0745
1974       650350  16.6187
1975  2.57559e+06  44.3896
1976  2.03284e+06   30.213
1977   2.7659e+06  52.1323
1978  1.08686e+06   30.694
1979  1.54308e+06  35.3492
1980       786778  21.6303
1981  1.93353e+06  38.4987
1982  1.73658e+06     33.2
1983       496092  14.2676
1984  2.01263e+06  34.6548
1985  2.87181e+06  52.5149
1986       726535  22.9024
1987       116445  5.20757
1988       869464   22.388
1989  1.30262e+06  31.2931
1990  1.75978e+06  38.8612
1991  2.30431e+06  46.7555
1992   2.1518e+06   41.653
1993  1.91101e+06  40.7977
1994  2.29647e+06  49.2331
1995  1.46619e+06  34.2774
1996  1.01192e+06  26.7406
1997  2.51609e+06  50.3767
1998  2.68167e+06  50.1834
1999  1.56724e+06   37.995

[2000 rows x 2 columns]

### 1. What the probability that the IRR is over the Risk free rate?

In [17]:
x = list(irr_dos["IRR %"])

In [20]:
P1 = list(map(lambda x: 1 if x>3 else 0, x))

sum(P1)/len(x)

0.9885

2.What the probability that the IRR is over the 35%?

In [21]:
P2 = list(map(lambda x: 1 if x>35 else 0, x))

sum(P2)/len(x)

0.5355

3.What the probability that the project value is over $2M?

In [23]:
y = list(npv_dos["NPV"])
P3 = list(map(lambda y: 1 if y>2000000 else 0, y))

sum(P3)/len(x)

0.404

4.What’s the probability that the IRR is between 10% and 20%?

In [24]:
P4 = list(map(lambda x: 1 if 20>x>10 else 0, x))

sum(P4)/len(x)

0.12